const config = {
    consumerKey: "PLEASEINSERTTWITTERKEY",
    consumerSecret: "PLEASEINSERTTWITTERKEY", 
    callbackURL: "http://example.com/twitter/callback",
    clientURL:"http://example.com/"
  }
  module.exports=config
  
  
  